* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: white;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

ion-icon {
  pointer-events: none;
}

.container {
  display: flex;
  height: 100vh;
  background-color: black;
}

.side-bar {
  background-color: rgb(63, 93, 245);
  flex-basis: 20%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 64px 32px;
  gap: 36px;
}

.side-bar button {
  color: inherit;
}

.home-btn {
  font-size: 36px;
  font-weight: 700;
}

.label-box {
  display: flex;
  gap: 24px;
  margin-bottom: 16px;
}

.projects ul {
  list-style: none;
}

.important-btn {
  font-size: 24px;
  font-weight: 500;
}

.projects {
  height: 400px;
}

.add-project {
  display: flex;
  align-items: center;
}

.add-project ion-icon {
  font-size: 24px;
}

.project {
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 16px;
}

.delete-project-btn {
  display: none;
}

.project:hover .delete-project-btn {
  display: flex;
  align-items: center;
}

.main {
  flex-grow: 1;
  padding: 64px 64px;
}

.tab {
  cursor: pointer;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
}

.sort-filter {
  display: flex;
  gap: 24px;
  align-items: center;
}

.sort,
.filter {
  position: relative;
}

.sort {
  width: 200px;
}

.filter {
  width: 120px;
}

.sort-label,
.filter-label {
  color: white;
  display: flex;
  gap: 8px;
  align-items: center;
}

.sort-label:hover,
.filter-label:hover {
  color: rgb(136, 151, 228);
}

.sort-options,
.filter-options {
  position: absolute;
  bottom: -8px;
  right: 16px;
  transform: translateY(100%);
  list-style: none;
  background-color: white;
  color: black;
  padding: 8px;
  border-radius: 6px;
  display: none;
  flex-direction: column;
  gap: 8px;
}

.filter-options {
  width: 120px;
}

.sort-open .sort-options,
.filter-open .filter-options {
  display: flex;
}

.filter-option {
  display: flex;
}

.filter-option label {
  flex-grow: 1;
}

.sort-option:hover,
.filter-option:hover {
  color: rgb(24, 54, 203);
  cursor: pointer;
}

.tabs {
  display: flex;
  gap: 24px;
}

.add-todo {
  background-color: white;
  height: 48px;
  width: 48px;
  border-radius: 50px;
  display: block;
}

.add-todo.hidden {
  display: none;
}

.add-todo ion-icon {
  font-size: 32px;
}

.todos {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 64px;
}

.todo {
  background-color: white;
  width: 80%;
  color: black;
  border-radius: 16px;
  padding: 12px 12px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.todo button {
  display: flex;
  align-items: center;
}

.todo ion-icon {
  font-size: 24px;
}

.todo input,
.todo-name {
  cursor: pointer;
}

.important-tag {
  background-color: rgba(63, 93, 245, 0.501);
  color: black;
  padding: 4px 4px;
  border-radius: 4px;
}

.todo-name {
  flex-grow: 1;
}

.right-sidebar {
  background-color: white;
  color: black;
  display: none;
  padding: 64px 32px;
  width: 25%;
}

.right-sidebar.open {
  display: block;
}

.form-title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 32px;
}

.form-title-box ion-icon {
  font-size: 32px;
  color: black;
}

.form-title-box button {
  height: 47px;
  width: 47px;
  border: 2px solid black;
  border-radius: 50px;
}

textarea {
  resize: none;
  width: 100%;
}

.add-form {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.add-form input[type="text"] {
  width: 100%;
}

.add-form p {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.add-form .form-check {
  display: flex;
  flex-direction: row;
}

input,
textarea,
select {
  padding: 8px 8px;
  font-size: inherit;
  font-family: inherit;
  display: block;
}

input[type="checkbox"] {
  display: inline;
}

.form-submit {
  margin-top: 24px;
  background-color: rgb(63, 93, 245);
  color: white;
  padding: 16px 8px;
  border-radius: 16px;
  font-size: 18px;
  font-weight: 500;
}

dialog {
  margin: auto;
  position: relative;
  border-radius: 24px;
}

.add-project-form,
.delete-project-form {
  width: 500px;
  height: 200px;
  padding: 32px;
}

#project-name {
  height: 100px;
  width: 100%;
  font-size: 32px;
  border: none;
}

#project-name:focus {
  outline: none;
}

.project-form-submit,
.delete-project-submit {
  background-color: rgb(63, 93, 245);
  color: white;
  padding: 12px 24px;
  border-radius: 12px;
  position: absolute;
  right: 32px;
  transition: all 0.3s;
}

.project-form-submit:hover,
.delete-project-submit:hover {
  background-color: rgb(24, 54, 203);
}

.project-form-close,
.delete-project-close {
  position: absolute;
  top: 32px;
  right: 32px;
}

.project-form-close ion-icon,
.delete-project-close ion-icon {
  font-size: 24px;
  color: rgb(79, 79, 79);
}

.delete-project-form p {
  font-size: 28px;
  padding-right: 64px;
}

dialog::backdrop {
  background-color: black;
  opacity: 0.5;
}
